body{
  background:#f3f3f3;
  font-family:Arial;
}

.container{
  max-width:700px;
  margin:40px auto;
  background:white;
  padding:20px;
  border-radius:10px;
}

input,textarea{
  width:100%;
  padding:12px;
  margin:10px 0;
}

button{
  background:black;
  color:white;
  padding:12px;
  border:none;
  cursor:pointer;
}

pre{
  white-space:pre-wrap;
  background:#fafafa;
  padding:15px;
  margin-top:15px;
}
